.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  padding: 15px 0;
  margin:  10px auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.formlable {
  font-size: 26px;
}